@import '../../../styles/variables';

.filterBlock {
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(192, 191, 191);

  .filterTitle {
    margin-bottom: 5px;
  }

  .filterCheckbox {
    margin: 10px 10px 10px 0;
  }

  .filterLabel {
    color: $checkbox_color;
  }
  .moreFilters {
    color: blue;
    text-align: center;
    margin: 10px 0;
  }
}
