@import '../../../styles/variables.scss';

.sButtons {
  display: flex;
  align-items: center;
  justify-content: center;

  .basket{
    background-color: $grey_button;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
  }

  button {
    background-color: $google_blue;
    border-radius: 25px;
    padding: 5px 20px;
    color: white;

    &:hover {
      background-color: $google_blue_hover;
    }
  }


}
