@import '../../styles/_typography.scss';

nav {
  border-bottom: 1px solid rgb(192, 191, 191);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 25%;
  border-right: 1px solid rgb(192, 191, 191);
  font-size: 28px;
  font-family: $bodoni;
}
